---
import { getCollection, render } from "astro:content";
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  //Nos traemos nuestra bonita coleccion como ya lo hemos hecho
  const books = await getCollection("books");

  //Mapeamos el array para que devuelva el contenido de cada una de las paginas
  return books.map((book) => ({
    params: { id: book.slug },
    props: { book },
  }));
}

//Sacamos el libro de aqui
const { book } = Astro.props;

//Y aqui simplemente le sacamos la data del libro
const { data, slug } = book;

//Y ya dentro de data, si que ya tenemos todo el contenido de nuestros libros sin ningun problema
const { title, author, img, readtime, description, buy } = data;

//Renderizamos el contenido del markdown
const { Content } = await render(book);
---

<Layout title={`${title} - Dev Books`} />
<div class="flex gap-6 m-6">
  <aside class="flex flex-col items-center gap-4">
    <img
      class="w-72 h-auto rounded"
      src={`/${img}`}
      alt={title}
      transition:name={`img-${slug}`}
    />

    <!-- Enlace para comprar -->
  </aside>
  <main class="max-w-2xl">
    <h1 transition:name={`img-${title}`} class="text-4xl font-bold mb-4">
      {title}
    </h1>

    <div class="prose prose-invert">
      <Content />
    </div>
  </main>
</div>
